// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "layout";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "layout";
@import "navbar";

* {
    margin: 0;
    padding: 0;
}


#content{
    width: 800px;
    height: 500px;
}
hr.solid {
    border-top: 1px solid #adadad;
}


