// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "layout";
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "layout";
@import "navbar";
@import "admin";
@import "article";

* {
    margin: 0;
    padding: 0;
}

a.btn {
    color: white;
}

a:hover.btn {
    color: #908fa7;
    text-decoration: none;
}

.carousel-card > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

#content {
    width: 800px;
    height: 500px;
}

hr.solid {
    border-top: 1px solid #adadad;
}

.heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2 !important;
    max-height: 2.4em !important;

    & > a {
        color: black;

        &:hover {
            text-decoration: none;
        }
    }
    &-medium {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2 !important;
        max-height: 2.4em !important;
        min-height: 70px;

        & > a {
            color: black;

            &:hover {
                text-decoration: none;
            }
        }

    }

    &-small {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.2 !important;
        max-height: 2.4em !important;
        min-height: 70px;

        & > a {
            color: black;

            &:hover {
                text-decoration: none;
            }
        }

    }
}

.card-subheading {
    color: rgba(0, 0, 0, .44);
    font-size: 18px !important;
    padding-top: 15px;
    padding-bottom: 5px;

    &-small {
        color: rgba(0, 0, 0, .44);
        font-size: 14px !important;


    }
}

.article-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: auto;
}

.article-info-left {
    display: flex;
}

.profile-avatar {
    display: block;
    padding-right: 10px;
}

.avatar-image {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
}

.username {
    color: rgba(0, 0, 0, .8);
    font-size: 12px;
}

.date, .read-time {
    color: rgba(0, 0, 0, .44) !important;
    font-size: 12px;
}

.bookmark-link {
    display: inline-block;
    font-size: 19px;
    height: 24px;
    vertical-align: sub;
}

.more-options-link {
    color: rgba(0, 0, 0, .44);
    display: inline-block;
    font-size: 19px;
    height: 24px;
    margin-left: 6px;
    vertical-align: middle;

    &:hover {
        color: black;

    }
}
